$blueprint-font-size: 12px;

@import "compass/css3/border-radius";
@import "blueprint";

@include blueprint;

@mixin gradientclass($from: green, $to: red) {
  @for $i from 0 through 100 {
    .gradient-#{$i} {
      background-color: mix($to, $from, $i);
    }
  }
}

table {
  width: auto;
  border: solid 1px black;
}

img {
  border: solid 1px black;
  margin-bottom: 10px;
}

tbody th {
  background-color: $blueprint-table-header-color;
}

table.tablesorter {
  thead {
    tr {
      .header {
        background: {
          image: url("bg.gif");
          position: right center;
          repeat: no-repeat;
        }
        cursor: pointer;
        padding-right: 21px;
      }

      .headerSortUp {
        background-image: url("asc.gif");
      }

      .headerSortDown {
        background-image: url("desc.gif");
      }
    }
  }
}

tr.top {
  td {
    font-weight: bold;
    background-color: $blueprint-table-stripe-color;
  }
}

.blockheader {
  @include border-radius;
  background-color: $blueprint-table-header-color;
}

.blockcontainer {
  .blockdiagram {
  }

  .blocktable {
  }
}

@include gradientclass(yellow, red);

