$blueprint-font-size: 12px;
$menu-vpadding: 5px;
$menu-hpadding: 10px;

@import "compass/css3/border-radius";
@import "blueprint";

@include blueprint;

@mixin gradientclass($from: green, $to: red) {
  @for $i from 0 through 100 {
    .gradient-#{$i} {
      background-color: mix($to, $from, $i);
    }
  }
}

a {
  text-decoration: none;
}

table {
  width: auto;
  border: solid 1px black;
}

table.simpletable {
  border: none;
  tbody th {
    text-align: left;
  }
}

img {
  border: solid 1px black;
  margin-bottom: 10px;
}

tbody th {
  background-color: $blueprint-table-header-color;
}

#menu {
  @include clearfix;
  @include border-radius;

  background-color: $blueprint-table-header-color;

  padding: {
    left: $menu-hpadding;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    float: left;

    padding: {
      top: $menu-vpadding;
      bottom: $menu-vpadding;
      left: $menu-hpadding;
      right: $menu-hpadding;
    }

    border-right: solid 1px white;

    &.first {
      padding-left: 0;
    }
    &.last {
      border: none;
      box-shadow: none;
    }
  }

  a {
    font-size: 150%;
  }
}

table.tablesorter {
  thead {
    tr {
      .header {
        background: {
          image: url("bg.gif");
          position: right center;
          repeat: no-repeat;
        }
        cursor: pointer;
        padding-right: 21px;
      }

      .headerSortUp {
        background-image: url("asc.gif");
      }

      .headerSortDown {
        background-image: url("desc.gif");
      }
    }
  }
}

tr.top {
  td {
    font-weight: bold;
    background-color: $blueprint-table-stripe-color;
  }
}

.blockheader {
  @include border-radius;
  padding-left: $menu-hpadding;
  background-color: $blueprint-table-header-color;
}

.blockcontainer {
  .blockdiagram {
  }

  .blocktable {
  }
}

@include gradientclass(yellow, red);

