%h2.blockheader
  Author of month
.blockcontainer
  .blocktable
    %table
      %thead
        %th Year-Month
        %th Author
        %th Commits
        %th Total
      %tbody
        - stats.yearmonth_stats.sort{ |a, b| b[0] <=> a[0] }.each do |yearmonth, authorstats|
          - authors = authorstats.sort{ |a, b| b[1].commits <=> a[1].commits }[0, 5]
          - authors.each do |author|
            - c = author[1].commits
            - first = author == authors.first
            %tr{:class => first ? 'top' : ''}
              %td&= first ? yearmonth : ''
              %td&= author[0]
              %td&= '%d of %d (%.2f%%)' % [c, authorstats.commits.to_f, c * 100.0 / authorstats.commits.to_f]
              %td&= first ? authorstats.count : ''
