!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Statistics
    %link{:href => 'style.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'jquery.js'}
    %script{:type => 'text/javascript', :src => 'jquery.tablesorter.js'}
  %body
    :javascript
      $(document).ready(function() {
        $(".toggleable").hide();
        $(".toggle").click(function() {
          $(this).toggleClass("active").next().slideToggle("slow");
          return false;
        });
      });
    %ul
      %li
        %a{:href => 'index.html'} General
      %li
        %a{:href => 'activity.html'} Activity
      %li
        %a{:href => 'authors.html'} Authors
      %li
        %a{:href => 'files.html'} Files
      %li
        %a{:href => 'lines.html'} Lines
    = content
