!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Statistics
    %link{:href => 'style.css', :rel => 'stylesheet', :type => 'text/css'}
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=UTF-8'}
    %script{:type => 'text/javascript', :src => 'jquery.js'}
    %script{:type => 'text/javascript', :src => 'jquery.tablesorter.js'}
  %body
    :javascript
      $.tablesorter.addParser({
        id: 'size',
        is: function(s) {
            return false;
        },
        format: function(s) {
            return $.tablesorter.formatFloat(s.replace(/k/,'000').replace(/M/,'000000').replace(/G/,'000000000'));
        },
        type: 'numeric'
      });

      $(document).ready(function() {
        $(".toggleable").hide();
        $(".toggle").click(function() {
          $(this).toggleClass("active").next().slideToggle("slow");
          return false;
        });
      });
    #menu
      %ul
        %li.first
          %a{:href => 'index.html'} General
        %li
          %a{:href => 'activity.html'} Activity
        %li
          %a{:href => 'authors.html'} Authors
        %li
          %a{:href => 'files.html'} Files
        %li.last
          %a{:href => 'lines.html'} Lines
    #content= content
